.Blogtittle {
    font-size: 5rem;
    text-align: center;
    margin-top: 50px;
    font-family: var(--font-main);
}

.blogContainer{
    animation: slideFromRight 1s ease forwards;
    opacity: 0;
}

@keyframes slideFromRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}

.blogLink {
    height: 100%;
    border: 1px solid #9999996d;
    border-radius: 20px;
    transition: transform 0.3s ease, opacity 0.3s ease;

    &:hover {
        transform: scale(0.95);
        opacity: 0.8;
    }

    div {
        padding: 20px;
    }

    img {
        width: 100%;
        height: 300px;
    }

    h2 {
        font-family: var(--font-write);
        font-size: 2.8rem;
        font-weight: 800;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 10px;
    }

    p {
        font-size: 1.8rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

.blogBtn {
    position: absolute;
    bottom: -10px;
    width: 99%;
    font-size: 2.5rem;
    font-family: var(--font-main);
    color: var(--main-color);
    font-weight: 600;
    border: none;
    background-color: #e6e6e694;
    border-radius: 50px;

    &:hover {
        background-color: var(--main-color);
        color: var(--secondary-color)
    }
}